@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
     * {
          @apply m-0;
          font-family: 'Inter', sans-serif!important;
     }

     body {
          @apply bg-gray-100;
     }
}

@layer components {

     .loadingSpinnerContainer {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 5000;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .loadingSpinner {
          width: 64px;
          height: 64px;
          border: 8px solid;
          border-color: #000 transparent #555 transparent;
          border-radius: 50%;
          animation: spin 1.2s linear infinite;
        }
        
        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }

     /* --------------- Navbar -------------------- */

     .navbar {
          @apply bg-white border-gray-200;
     }

     .navbar__container {
          @apply max-w-7xl mx-auto;
     }

     .navbar__row {
          @apply p-4 lg:px-4 flex flex-wrap justify-between items-center;
     }

     .navbar__brand__link {
          @apply text-dark;
     }

     .navbar__brand__logo {
          @apply text-dark text-xl font-semibold whitespace-nowrap;
     }

     .navbar__desktop__menu {
          @apply ml-auto flex;
     }

     .navbar__desktop__menu__item {
          @apply ml-8;
     }

     .navbar__desktop__menu__link {
          @apply text-dark text-sm font-semibold;
     }

     /* --------------- Home Banner -------------------- */
     .home__banner {
          @apply relative h-[600px];
     }

     .home__banner__container {
          @apply h-full;
     }

     .home__banner__row {
          @apply h-full flex items-center justify-center;
     }

     /* --------------- Get Post -------------------- */

     .get__post {
          @apply py-16;
     }

     .get__post__container {
          @apply max-w-7xl mx-auto;
     }

     .get__post__row {
          @apply px-4 flex flex-wrap items-center;
     }

     .get__post__column {
          @apply w-full md:w-6/12 lg:w-4/12 px-4;
     }

     .get__post__card {
          @apply relative bg-white p-4 mb-4 rounded shadow;
     }

     .get__post__card__delete__button {
          @apply cursor-pointer inline-flex items-center rounded text-red-500 font-normal mt-4 p-2 border-red-500 border-solid border-2 bg-red-50;
     }

     /* --------------- Create Post Form -------------------- */

     .create__post {
          @apply relative py-16;
     }
     
     .create__post__container {
          @apply container mx-auto;
     }
     
     .create__post__row {
          @apply flex w-full lg:w-8/12 xl:w-6/12 justify-center items-center mx-auto;
     }
     
     .create__post__form {
          @apply relative bg-white py-12 px-4 w-full rounded shadow;
     }
     
     .create__post__form__heading {
          @apply text-3xl text-black font-extrabold mb-4 text-center;
     }
     
     .create__post__form__subheading {
          @apply text-base text-black font-normal mb-4 text-center;
     }
     
     .create__post__form__wrapper {
          @apply flex flex-row flex-wrap;
     }
     
     .create__post__form__item {
          @apply w-full p-4;
     }
     
     .create__post__form__item:last-child {
          @apply w-full p-4;
     }
     
     .create__post__form__label {
          @apply hidden;
     }
     
     .create__post__form__input {
          @apply relative inline-flex w-full min-h-[3rem] p-4 border-solid border-2 border-inherit outline-none transition-all duration-300 ease-in focus:border-primary;
     }
     
     .create__post__form__textarea {
          @apply relative inline-flex w-full min-h-[3rem] p-4 border-solid border-2 border-inherit outline-none transition-all duration-300 ease-in focus:border-primary;
     }
     
     .create__post-form__input.error, .create__post__form__textarea.error {
          @apply border-red-500;
     }
     
     .create__post__form__button {
          @apply relative inline-block w-full min-h-[3rem] p-4 bg-primary hover:bg-primaryHover text-white font-medium rounded-3xl transition-all duration-300 ease-in;
     }
     
     .create__post__form__error {
          @apply text-red-500 font-medium m-4 p-4 border-red-500 border-solid border-2 bg-red-50;
     }

     /* --------------- Register Form -------------------- */

     .register {
          @apply relative py-16;
     }

     .register__container {
          @apply container mx-auto;
     }

     .register__row {
          @apply flex w-full lg:w-8/12 xl:w-6/12 justify-center items-center mx-auto;
     }

     .register__form {
          @apply relative bg-white py-12 px-4 w-full rounded shadow;
     }

     .register__form__heading {
          @apply text-3xl text-black font-extrabold mb-4 text-center;
     }

     .register__form__subheading {
          @apply text-base text-black font-normal mb-4 text-center;
     }

     .register__form__wrapper {
          @apply flex flex-row flex-wrap;
     }

     .register__form__item {
          @apply w-full p-4;
     }

     .register__form__item:last-child {
          @apply w-full p-4;
     }

     .register-form-label {
          @apply hidden;
     }

     .register__form__input {
          @apply relative inline-flex w-full min-h-[3rem] p-4 border-solid border-2 border-inherit outline-none transition-all duration-300 ease-in focus:border-primary;
     }

     .register__form__textarea {
          @apply relative inline-flex w-full min-h-[3rem] p-4 border-solid border-2 border-inherit outline-none transition-all duration-300 ease-in focus:border-primary;
     }

     .register__form__input.error, .register__form__textarea.error {
          @apply border-red-500;
     }

     .register__form__button {
          @apply relative inline-block w-full min-h-[3rem] p-4 bg-primary hover:bg-primaryHover text-white font-medium rounded-3xl transition-all duration-300 ease-in;
     }

     .register__form__error {
          @apply text-red-500 font-medium m-4 p-4 border-red-500 border-solid border-2 bg-red-50;
     }

     /* --------------- Login Form -------------------- */

     .login {
          @apply relative py-16;
     }

     .login__container {
          @apply container mx-auto;
     }

     .login__row {
          @apply flex w-full lg:w-8/12 xl:w-6/12 justify-center items-center mx-auto;
     }

     .login__form {
          @apply relative bg-white py-12 px-4 w-full rounded shadow;
     }

     .login__form__heading {
          @apply text-3xl text-black font-extrabold mb-4 text-center;
     }

     .login__form__subheading {
          @apply text-base text-black font-normal mb-4 text-center;
     }

     .login__form__wrapper {
          @apply flex flex-row flex-wrap;
     }

     .login__form__item {
          @apply w-full p-4;
     }

     .login__form__item:last-child {
          @apply w-full p-4;
     }

     .login__form__label {
          @apply hidden;
     }

     .login__form__input {
          @apply relative inline-flex w-full min-h-[3rem] p-4 border-solid border-2 border-inherit outline-none transition-all duration-300 ease-in focus:border-primary;
     }

     .login__form__textarea {
          @apply relative inline-flex w-full min-h-[3rem] p-4 border-solid border-2 border-inherit outline-none transition-all duration-300 ease-in focus:border-primary;
     }

     .login__form__input.error, .login__form__textarea.error {
          @apply border-red-500;
     }

     .login__form__button {
          @apply relative inline-block w-full min-h-[3rem] p-4 bg-primary hover:bg-primaryHover text-white font-medium rounded-3xl transition-all duration-300 ease-in;
     }

     .login__form__error {
          @apply text-red-500 font-medium m-4 p-4 border-red-500 border-solid border-2 bg-red-50;
     }
}