@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

@theme {
  --font-family-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family-inter: 'Inter', sans-serif;
  --color-primary: #0c5adb;
  --color-primary-hover: #1140c6;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark: #222222;
  --breakpoint-xs: 360px; /* 360px */
  --breakpoint-s: 30rem; /* 480px */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
  --breakpoint-hd: 120rem; /* 1920px */
  --breakpoint-2k: 160rem; /* 2560px */
  --breakpoint-4k: 240rem; /* 3840px */
}

@layer base {

     body {
          @apply bg-white font-family-inter text-dark text-base leading-6;
     }
}

@utility container {
  @apply mx-auto;
}

@layer components {

     .loadingSpinnerContainer {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 5000;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .loadingSpinner {
          width: 64px;
          height: 64px;
          border: 8px solid;
          border-color: #000 transparent #555 transparent;
          border-radius: 50%;
          animation: spin 1.2s linear infinite;
        }

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }

     /* --------------- Navbar -------------------- */

     .navbar {
          @apply bg-white border-gray-200 absolute top-0 left-0 right-0 z-50 shadow-md;
     }

     .navbar-container {
          @apply container flex items-center justify-between py-6 px-0 sm:px-8;
     }

     .navbar-brand-link {
          @apply text-dark;
     }

     .navbar-brand-logo {
          @apply text-dark text-xl font-semibold whitespace-nowrap;
     }

     .navbar-desktop-menu {
          @apply ml-auto flex;
     }

     .navbar-desktop-menu-item {
          @apply ml-8;
     }

     .navbar-desktop-menu-link {
          @apply text-dark text-sm font-semibold cursor-pointer;
     }

     /* --------------- Home Banner -------------------- */
     .home-banner {
          @apply relative h-screen;
     }

     .home-banner-container {
          @apply container h-full;
     }

     .home-banner-row {
          @apply h-full flex items-center justify-center;
     }
     .home-banner-column {
          @apply w-full px-4;
     }
     .home-banner-content {
          @apply text-black text-center;
     }

     .home-banner-content-heading {
          @apply text-4xl md:text-5xl lg:text-6xl font-extrabold mb-4;
     }

     .home-banner-content-subheading {
          @apply text-lg md:text-xl lg:text-2xl font-normal mb-8;
     }

     /* --------------- Get Post -------------------- */

     .get-post {
          @apply py-16;
     }

     .get-post-container {
          @apply max-w-7xl mx-auto;
     }

     .get-post-row {
          @apply px-4 flex flex-wrap items-center;
     }

     .get-post-column {
          @apply w-full md:w-6/12 lg:w-4/12 px-4;
     }

     .get-post-card {
          @apply relative bg-white p-4 mb-4 rounded shadow;
     }

     .get-post-card-delete-button {
          @apply cursor-pointer inline-flex items-center rounded text-red-500 font-normal mt-4 p-2 border-red-500 border-solid border-2 bg-red-50;
     }

     /* --------------- Create Post Form -------------------- */

     .create-post {
          @apply relative py-16;
     }

     .create-post-container {
          @apply container;
     }

     .create-post-row {
          @apply flex w-full lg:w-8/12 xl:w-6/12 justify-center items-center mx-auto;
     }

     .create-post-form {
          @apply relative bg-white py-12 px-4 w-full rounded shadow;
     }

     .create-post-form-heading {
          @apply text-3xl text-dark font-extrabold mb-4 text-center;
     }

     .create-post-form-subheading {
          @apply text-base text-dark font-normal mb-4 text-center;
     }

     .create-post-form-wrapper {
          @apply flex flex-row flex-wrap;
     }

     .create-post-form-item {
          @apply w-full p-4;
     }

     .create-post-form-item:last-child {
          @apply w-full p-4;
     }

     .create-post-form-label {
          @apply hidden;
     }

     .create-post-form-input {
          @apply text-dark relative inline-flex w-full min-h-12 p-4 border border-gray-300 transition-colors duration-300 focus:outline-2 focus:outline-primary focus:outline-offset-2;
     }

     .create-post-form-textarea {
          @apply text-dark relative inline-flex w-full min-h-12 p-4 border border-gray-300 transition-colors duration-300 focus:outline-2 focus:outline-primary focus:outline-offset-2;
     }

     .create-post-form-input.error, .create-post-form-textarea.error {
          @apply border-red-500;
     }

     .create-post-form-button {
          @apply relative cursor-pointer inline-block w-full min-h-[3rem] p-4 bg-primary hover:bg-primary text-white font-medium rounded-3xl transition-all duration-300 ease-in;
     }

     .create-post-form-error {
          @apply text-red-500 font-medium m-4 p-4 border-red-500 border-solid border-2 bg-red-50;
     }

     /* --------------- Register Form -------------------- */

     .register {
          @apply relative py-16;
     }

     .register-container {
          @apply container;
     }

     .register-row {
          @apply flex w-full lg:w-8/12 xl:w-6/12 justify-center items-center mx-auto;
     }

     .register-form {
          @apply relative bg-white py-12 px-4 w-full rounded shadow;
     }

     .register-form-heading {
          @apply text-3xl text-dark font-extrabold mb-4 text-center;
     }

     .register-form-subheading {
          @apply text-base text-dark font-normal mb-4 text-center;
     }

     .register-form-wrapper {
          @apply flex flex-row flex-wrap;
     }

     .register-form-item {
          @apply w-full p-4;
     }

     .register-form-item:last-child {
          @apply w-full p-4;
     }

     .register-form-label {
          @apply hidden;
     }

     .register-form-input {
          @apply text-dark relative inline-flex w-full min-h-12 p-4 border border-gray-300 transition-colors duration-300 focus:outline-2 focus:outline-primary focus:outline-offset-2;
     }

     .register-form-textarea {
          @apply text-dark relative inline-flex w-full min-h-12 p-4 border border-gray-300 transition-colors duration-300 focus:outline-2 focus:outline-primary focus:outline-offset-2;
     }

     .register-form-input.error, .register-form-textarea.error {
          @apply border-red-500;
     }

     .register-form-button {
          @apply relative cursor-pointer inline-block w-full min-h-[3rem] p-4 bg-primary hover:bg-primary text-white font-medium rounded-3xl transition-all duration-300 ease-in;
     }

     .register-form-error {
          @apply text-red-500 font-medium m-4 p-4 border-red-500 border-solid border-2 bg-red-50;
     }

     /* --------------- Login Form -------------------- */

     .login {
          @apply relative h-dvh sm:h-screen flex items-center justify-center;
     }

     .login-container {
          @apply container;
     }

     .login-row {
          @apply flex w-full lg:w-8/12 xl:w-6/12 justify-center items-center mx-auto;
     }

     .login-form {
          @apply relative bg-white py-12 px-4 w-full rounded shadow;
     }

     .login-form-heading {
          @apply text-3xl text-dark font-extrabold mb-4 text-center;
     }

     .login-form-subheading {
          @apply text-base text-dark font-normal mb-4 text-center;
     }

     .login-form-wrapper {
          @apply flex flex-row flex-wrap;
     }

     .login-form-item {
          @apply w-full p-4;
     }

     .login-form-item:last-child {
          @apply w-full p-4;
     }

     .login-form-label {
          @apply hidden;
     }

     .login-form-input {
          @apply text-dark relative inline-flex w-full min-h-12 p-4 border border-gray-300 transition-colors duration-300 focus:outline-2 focus:outline-primary focus:outline-offset-2;
     }

     .login-form-textarea {
          @apply text-dark relative inline-flex w-full min-h-12 p-4 border border-gray-300 transition-colors duration-300 focus:outline-2 focus:outline-primary focus:outline-offset-2;
     }

     .login-form-input.error, .login-form-textarea.error {
          @apply border-red-500;
     }

     .login-form-button {
          @apply relative cursor-pointer inline-block w-full min-h-[3rem] p-4 bg-primary hover:bg-primary text-white font-medium rounded-3xl transition-all duration-300 ease-in;
     }

     .login-form-error {
          @apply text-red-500 font-medium m-4 p-4 border-red-500 border-solid border-2 bg-red-50;
     }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}